.margin-top {
    margin-top: 4rem;
}
.image-container{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.image{
    height: 45vh;
    width: auto;
    border-radius: 10px;
}
.fullscreen-overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlayImage{
    height: 90vh;
    width: auto;
    border-radius: 10px;
}